RewriteEngine On

# Ha a kért fájl vagy könyvtár létezik, használd közvetlenül
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Minden más kérést irányíts az index.php-ra
RewriteRule ^(.*)$ index.php [QSA,L]
